[submodule "livox_ros_driver2"]
	path = livox_ros_driver2
	url = https://github.com/SMBU-PolarBear-Robotics-Team/livox_ros_driver2.git
[submodule "point_lio"]
	path = point_lio
	url = https://github.com/SMBU-PolarBear-Robotics-Team/point_lio.git
[submodule "pb_omni_pid_pursuit_controller"]
	path = pb_omni_pid_pursuit_controller
	url = https://github.com/SMBU-PolarBear-Robotics-Team/pb_omni_pid_pursuit_controller.git
[submodule "small_gicp_relocalization"]
	path = small_gicp_relocalization
	url = https://github.com/SMBU-PolarBear-Robotics-Team/small_gicp_relocalization.git
[submodule "terrain_analysis"]
	path = terrain_analysis
	url = https://github.com/SMBU-PolarBear-Robotics-Team/terrain_analysis.git
